* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(207, 207, 207);
  padding: 20px;
}

h4,
h5 {
  color: rgb(53, 53, 53);
}

.form-container {
  max-width: 1100px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}
.survey-form {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}

.left-form {
  flex: 1;
}
.form-field {
  margin-top: 10px;
}

.show-effect {
  border: none;
  background-color: rgb(244, 244, 244);
  padding: 10px;
  border-radius: 8px;
  outline: 2px solid transparent;
  width: 100%;
  margin-top: 2px;
}

.show-effect:focus {
  outline: 2px solid green;
  transition: all 0.8s ease;
}

textarea {
  resize: none;
}

.age-list-container {
  background-color: rgb(244, 244, 244);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.age-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80px;
}

.radio-field {
  display: flex;
  align-items: center;
  gap: 8px;
}
.radio-field label {
  font-weight: 500;
  font-size: 16px;
}
.right-form {
  flex: 1;
}
.survey-form button {
  padding: 8px;
  width: 100%;
  background-color: green;
  color: white;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .survey-form {
    flex-direction: column;
    gap: 0;
  }
}
